/* Preffered primary Color  #131313*/
/* Preffered secondary Color  #e6a100*/

* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
}

/*? Loader cannot have %percentage height as main is heightless*/
#loader {
  /* display: none; */

  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: #131313;
  color: #f2f3f4; /* * #333 - Alternative option */
}

#loader #topheading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#loader h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-weight: 500;
}

/* #loader h1 span {
  font-family: "Mazius", sans-serif;
} */

#topheading h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
}

.reveal .parent {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: hidden !important;
}

.reveal .parent .child {
  display: block;
}

.child span {
  display: inline-block;
}

#yellow {
  /* display: none; */

  position: absolute;
  top: 100%;
  width: 100%;
  height: 0vh;
  background-color: #e6a100;
}
.surname {
  color: #e6a100;
}

#home {
  width: 100%;
  height: 150vh;
  background-color: #f0f0f0;
}

#home nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  width: 100%;
  height: 100px;
}

#nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  color: #131313;
}

#nav a .line {
  right: 0;
  bottom: 0;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

  background-color: #131313;
}

#nav a:hover .line {
  width: 0;
}

.row {
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #131313;
  line-height: 1;
  padding: 0 7vw;
  padding-right: 12vw;
}

.row h1 {
  font-size: 13vw;
  font-weight: 500;
}

.row .text {
  margin-top: 0vw;
}

.row h5 {
  opacity: 0.6;
  font-weight: 500;
  font-size: 11px;
}

/* .row:nth-child(2) {
  background-color: yellow;
} */

.row:nth-child(3) {
  padding-bottom: 10px;
  margin-top: 0;
}

#imagery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20vw;
  width: 100%;
  padding: 0 7vw;
}

#imagery #imgLeft {
  width: 30%;
  height: auto;
}

#imgLeft h1 {
  font-size: 2.2vw;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333;
}

#imgLeft h1 span {
  color: #e6a100;
}

#imgRight {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60%;
  height: 300px;
}
#imgRight .imgcontainer {
  filter: grayscale();
  position: absolute;
  width: 27vw;
  height: 40vw;
  border-radius: 1vw;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
}

#imgRight .imgcontainer:hover {
  filter: grayscale(0);
}

#imgRight .imgcontainer:nth-child(1) {
  transform: translate(-40%, -8%) rotate(-20deg);
  background-image: url(https://carepulse-rosy.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstf.a9d59f4b.jpg&w=1080&q=75);
  background-size: cover;
  background-position: center;
}
#imgRight .imgcontainer:nth-child(2) {
  transform: translate(-15%, 0%) rotate(-15deg);
  background-image: url(https://images.unsplash.com/photo-1557006021-b85faa2bc5e2?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#imgRight .imgcontainer:nth-child(3) {
  transform: translate(20%, 10%) rotate(0deg);
  background-image: url(https://images.unsplash.com/photo-1613575998061-0f59337425f2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#work {
  width: 100%;
  min-height: 70vh;
  background-color: #f2f2f2;
}
